<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), <%= image_path('home-banner.jpeg') %>;">
  <h2 class='ml-3 p-2 border-bottom border-secondary' style="width: 60vw"> Cocktails </h2>
  <div class="d-flex flex-wrap cocktails-container">
    <% @cocktails.each do |cocktail| %>
      <div class="cocktail-card">
        <%= image_tag cocktail.img_path, class: 'cocktail-img' %>
        <div class="cocktail-info-overlay">
          <div class="cocktail-name">
            <h3> <%= cocktail.name %> </h3>
            <p> <strong>Cocktime: </strong> <%= cocktail.time %> min </p>
          </div>
        </div>
         <%= link_to "", cocktail_path(cocktail), class: 'cocktail-link'  %>
      </div>
    <% end %>

  </div>

</div>
