
<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), <%= image_path('home-banner.jpeg') %>;">
  <h1 class="p-2 mb-4"> <%= @cocktail.name %> </h1>
  <div class="d-flex">
    <div class="d-flex flex-column align-items-center border-right border-secondary">
    <!--   <%= image_tag @cocktail.img_path, class: 'deactive' %> -->
      <% @cocktail.recipes.each do |recipe| %>
        <% if recipe.ingredient.img_path %>
          <%= image_tag recipe.ingredient.img_path, class: 'ingredient-img' %>
        <% else %>
          <h5> <%= recipe.ingredient.name %> </h5>
        <% end %>
        <p> <%= recipe.amount %> </p>
      <% end %>
      <%= link_to cocktails_path do %>
        <button class="back-btn-hover">Back</button>
      <% end %>
    </div>
    <div class="flex-grow-1 pl-5 pt-3 instructions">
      <h3 class="">Instructions </h3>
      <p> <%= simple_format(@cocktail.instructions) %>  </p>
    </div>

  </div>



</div>

