
<div class="home-banner">
  <h1 class="border-bottom p-2"> <%= @cocktail.name %> </h1>
  <div class="d-flex">
    <div class="d-flex flex-column align-items-center border-right">
      <%= image_tag @cocktail.img_path, class: 'cocktail-img deactive' %>
      <% @cocktail.recipes.each do |recipe| %>
        <h5> <%= recipe.ingredient.name %> </h5>
        <p> <%= recipe.amount %> </p>
      <% end %>
      <%= link_to "Back", cocktails_path  %>
    </div>
    <div class="flex-grow-1 p-3">
      <h3 class="">Instructions </h3>
      <p> <%= @cocktail.instructions %> </p>
    </div>

  </div>



</div>
