<!DOCTYPE html>
<html>
  <head>
    <title>TopTenCocktails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar fixed-top">
      <h1>Top Ten Cocktails</h1>
    <!--   <a href="" class="btn-yours">Search</a> -->
    </div>
    <%= yield %>
  </body>
</html>
